.task_grid_support {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  position: relative;
  border: 2px solid gray;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  margin : 5px;
  transition: all 200ms ease-in;
  transform: scale(1);
  border-radius: 0px 45px 0px 45px;
}

.task_grid_support:hover {
  transition: all 200ms ease-in;
  transform: scale(1.1);
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.12);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.12);
}


.ctask_title {
  flex: 1 80%;
  grid-area: 'title';
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  font: arial;
  border-right:  1px solid gray;
  border-bottom:  1px solid gray;
  background: #555;
  border:1px solid #555;
  color:#DDD;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.ctask_progress_first {
  flex: 1 50%;
  background: #f44141;
  grid-area: 'progress';
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  color: azure;
}
.ctask_progress_middle {
  flex: 1 50%;
  background: #f48941;
  grid-area: 'progress';
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  color: azure;
}
.ctask_progress_last {
  flex: 1 50%;
  background: #4ac959;
  grid-area: 'progress';
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  color: azure;
}

.ctask_details {
  flex: 2 100%;
  height: 140px;
  border-bottom:  1px solid gray;
  grid-area: 'details';
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
}
.ctask_id {
  flex: 1 10%;
  border-radius: 0px 43px 0px 0px;
  border-bottom:  1px solid gray;
  grid-area: 'task-id';
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  background-color: #ce7ba3;
}
.ctask_deadline {
  flex: 3 30%;
  background: #555;
  border:1px solid #555;
  color:#DDD;
  text-transform: uppercase;
  letter-spacing: 1px;
  grid-area: 'deadline';
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.ctask_validated {
  flex: 1 5%;
  grid-area: 'validated';
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}



/* .ctask_details {
  display: inline-grid;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  transition: all 200ms ease-in;
  transform: scale(1);
}

.ctask_tile {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  border: 1px solid gray;
  border-radius: 5px 5px 0px 0px;
}

.ctask_tile > h1 {
  margin-top: 0;
}

.ctask_title {
  width: 100%;
  align-content: space-between;
  display: flex;
  justify-content: space-around;
  color:#DDD;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: lighter;
  color: azure;
  background-color: #555;
  border:1px solid #555;
}


.ctask_title > span {
  height: 25px;
  overflow: hidden;
  flex: 10;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10px;
  box-sizing: border-box;
  cursor:pointer;
  position: relative;
  border: 1px solid gray;
  border-radius: 12px;
} */

.elem_container {
  position: relative;
  /* background: red; */
}

.elem_root_div {
  /* width: 200px; */
  /* height: 50px; */
  cursor: pointer;
}

.elem_root_form {
  width: 200px;
  height: 50px;
  cursor: pointer;
  background-color: blue;
  z-index: 2;
}

/* .ctask_title > form > input {
  height: 50px;
  background-color: #8887878f;
  overflow: hidden;
  color: azure;
  flex: 8;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin: 10px;
  box-sizing: border-box;
  cursor: text;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid gray;
  border-radius: 12px;
  outline: hidden;
} */

.ctask_title_buttondiv {
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;
}

.ctask_title_buttondiv > button {
  height: 25px;
  align-self: center;
  cursor:pointer;
  border: 1px solid gray;
  border-radius: 12px;
}

.ctask_title_buttondiv > button:hover {
  background: #d44;
}



/* .ctask_details {
  padding: 5px;
  display: flow-root;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid gray;
} */

.task_progress_bar_container {
  border: 1px solid gray;
  /* width: 230px; */
  flex: 4;
  background-color: #666;
  margin-left: 20px;
  margin-validated: 20px;
  text-align:center;
  display: flex;
  position: relative;
}

.task_progress_bar_content_short {
  background-color: #f43;
  height: 100%;
  position: absolute;
}

.task_progress_bar_content_medium {
  background-color: #d37;
  height: 100%;
  position: absolute;
}

.task_progress_bar_content_end {
  background-color: #3d3;
  height: 100%;
  position: absolute;
}

.task_progress_bar_container > p {
  validated: 0;
  left: 0;
  text-align: center;
  position:absolute;
  z-index: 2;

}
.tasks_input {
 margin-bottom: 20px;
 width: 100%;
 text-align: center;
}
.tasks_input > input {
 width:40%;
 text-align: center;
 font-size: 18px;
}
.tasks_input > input:focus {
 outline-validated: none;
}
.tasks_input > button:focus {
 outline: none;
}

.tasks_input > button {
  height: 27px;
  vertical-align: top;
  cursor:pointer;
  background: #555;
  border:1px solid #555;
  color:#DDD;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}
.tasks_display li {
  display: block;
  text-align: center;
  background: #efeded;
  text-transform: capitalize;
  letter-spacing: 3px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
.remove_task {
 color: red;
 cursor: pointer;
 float: validated;
 background: #fbfbfb;
 border-radius: 112px;
 font-size: 9px;
 padding: 6px;
 padding-left: 9px;
}
.tasks_display {
 margin-bottom: 30px;
}
