
.ctask_tile {
  background-color: white;
  display: grid;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: all 200ms ease-in;
  transform: scale(1);
}
.ctask_tile > h1 {
  margin-top: 0;
}

.ctask_tile:hover {
  color: red;
  transition: all 200ms ease-in;
  transform: scale(1.1);
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.12);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.12);
}

.ctask_title {
  display: flex;
  background-color: #555;
}

.task_progress_bar_container {
  border: 1px solid gray;

}
.task_progress_bar_content {
  background-color: blue;
}

.tasks_input {
 margin-bottom: 20px;
 width: 100%;
 text-align: center;
}
.tasks_input > input {
 width:40%;
 text-align: center;
 font-size: 18px;
}
.tasks_input > input:focus {
 outline-right: none;
}
.tasks_input > button:focus {
 outline: none;
}
.tasks_input > button {
 height: 27px;
 vertical-align: top;
 cursor:pointer;
 background: #555;
 border:1px solid #555;
 color:#DDD;
 text-transform: uppercase;
 letter-spacing: 1px;
 z-index: 1;
}
.tasks_display li {
  display: block;
  text-align: center;
  background: #efeded;
  text-transform: capitalize;
  letter-spacing: 3px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
.remove_task {
 color: red;
 cursor: pointer;
 float: right;
 background: #fbfbfb;
 border-radius: 112px;
 font-size: 9px;
 padding: 6px;
 padding-left: 9px;
}
.tasks_display {
 margin-bottom: 30px;
}
