{:rename-macros {}, :renames {}, :use-macros {html sablono.core}, :excludes #{}, :name todo-list.complex-task, :imports nil, :requires {sablono.core sablono.core}, :uses {}, :defs {ui-complextask {:protocol-inline nil, :meta {:file "/Users/val/Documents/ToDoListClojure/todo-list/src/todo_list/complex-task.cljs", :line 5, :column 7, :end-line 5, :end-column 21, :arglists (quote ([store complex-task])), :doc "This is a complex task"}, :name todo-list.complex-task/ui-complextask, :variadic false, :file "src/todo_list/complex-task.cljs", :end-column 21, :method-params ([store complex-task]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 5, :end-line 5, :max-fixed-arity 2, :fn-var true, :arglists (quote ([store complex-task])), :doc "This is a complex task"}}, :require-macros {sablono.core sablono.core}, :cljs.analyzer/constants {:seen #{:task-id :title :details :validated :progress}, :order [:task-id :title :progress :validated :details]}, :doc nil}